[submodule "Grounders/clingo"]
	path = Grounders/clingo
	url = https://github.com/potassco/clingo
[submodule "Thesis/ctuthesis"]
	path = Tex/Thesis/ctuthesis
	url = https://github.com/tohecz/ctuthesis
[submodule "Grounders/swi-prolog"]
	path = Grounders/swi-prolog
	url = https://github.com/SWI-Prolog/swipl-devel
