*.pdf
.idea

Project
Datasets/**/*.data
__pycache__
*.pyc

_build

/Datasets/experiments
/Grounders/dlv
/Grounders/lparse/*
!/Grounders/lparse/patch.sh

.latex.json
Tex/**/*.gz
Tex/**/*.aux
Tex/**/*.fls
Tex/**/*.log
Tex/**/*.fdb_latexmk
Tex/**/.kile
Tex/**/_minted-report
Tex/**/*.kilepr
