[submodule "Grounders/clingo"]
	path = Grounders/clingo
	url = https://github.com/potassco/clingo
[submodule "Thesis/ctuthesis"]
	path = Tex/Thesis/ctuthesis
	url = https://github.com/tohecz/ctuthesis
