*.pdf
.idea

Project
Datasets/**/*.data
__pycache__
*.pyc

_build

/Datasets/experiments
/Datasets/*.txt
/Datasets/*.sql
/Datasets/*.datalog

/Grounders/dlv
/Grounders/postgresql
/Grounders/neurologic
/Grounders/lrnn_output
/Grounders/lparse/*
!/Grounders/lparse/patch.sh

.latex.json
Tex/**/*.gz
Tex/**/*.aux
Tex/**/*.fls
Tex/**/*.log
Tex/**/*.fdb_latexmk
Tex/**/.kile
Tex/**/_minted-report
Tex/**/*.kilepr
